<html>
<body style="padding:0;margin:0;font-family:'Calibri',sans-serif;background-color: rgba(49, 116, 215,0.35)">
	<section style=" max-height: 640px; height:100%;max-width:360px; width:100%;display: table; margin: auto; ">
		<span style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);background-color: inherit;position: relative;display: block;clear: both;max-width: 100%;padding: 3vw 3vw;">
			<img src="https://bxb-app.azurewebsites.net/assets/imgs/bxb-logo.png">
		</span>
		<div style="box-shadow:0 0 5px 1px rgb(49, 116, 215); display:inline-block; height:100%;background-color: #fff">
			<p style="padding:1rem;">
				Hi $USERNAME,
				<br/>
				<br/>
				You recently requested to reset your password for your BXB account. Click the button below to reset it.
			</p>
			<a href="$URL/#/reset-pw/$HASH" style="text-decoration: none"><button style="padding:0.5rem 1rem;font-size: 13px;background: #0067ff;border-radius: 50px;color: white;
		    box-shadow: 1px 0px 15px 0px rgba(50, 50, 50, 0.53); border:0; display:table;margin:2rem auto; cursor:pointer;">Reset your password</button></a>
			<p style="padding:1rem;">
				If you did not request a password reset, please ignore this email or reply to let us know. This password reset is only valid for the next 30 minutes.
				<br/>
				<br/>
				Thanks,<br/>
				BXB Team
			</p>
		</div>
	</section>
</body>
</html>